# Dependencies
node_modules

# Build outputs
dist
build
.vite

# Logs
*.log

# Environment files
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Test coverage
coverage

# Package manager
pnpm-lock.yaml
package-lock.json
yarn.lock
